@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button {
	outline: none;
}

.loader {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.input {
	@apply w-[38vw] bg-transparent rounded-full border-2 border-white px-4 py-3 placeholder:text-gray-300 text-white font-medium;
}
